@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Josefin+Sans:wght@500&family=Roboto:wght@100;300&family=Sen:wght@700&family=Unica+One&display=swap');

html, body, * {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-smooth: always;
}

#nada {
  background-color: #ee2b4b;
}